<launch>
    <param name="basic_robot" command="cat $(find simulation)/config/basic_robot.urdf"/>
    <param name="basic_robot_estimate" command="cat $(find simulation)/config/basic_robot_estimate.urdf"/>

    <arg name="map_file" default="$(find simulation)/maps/map.yaml"/>
    <arg name="perspective" default="$(find simulation)/config/viewer.rviz"/>
    <arg name="map_topic" default="/basic_map"/>
    <arg name="map_metadata" default="/basic_map_metadata"/>
    <arg name="setpoint" default="0.05 10.0"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file) /map:=$(arg map_topic) /map_metadata:=$(arg map_metadata)"/>
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(arg perspective)"/>

    <rosparam file="$(find simulation)/config/parameters.yaml" command="load"/>
    <node name="sim" pkg="simulation" type="sim" output="screen"/>
    <node name="planner" pkg="planner" type="planner" args="$(arg setpoint)" output="screen"/>
</launch>